{% extends "ProblematicTutorialBundle::layout.html.twig" %}

{% block title %}Tutorial - {{ tutorial.title }}{% endblock %}

{% block content %}
<div id="tutorial-meta" class="well">
    <h1>{{ tutorial.title }}</h1>
    {% render 'ProblematicTutorialBundle:Tutorial:authorPlacard' with {"username": tutorial.authorname, "email": tutorial.authoremail} %}
    <p>{{ tutorial.createdat|format('l, d-M-y H:i:s T') }}</p>
    <p><strong>Description:</strong> {{ tutorial.description }}</p>
{% if canEdit %}
        <a class="btn" href="{{ path('problematic_tutorial_tutorials_edit', {'id': tutorial.id}) }}">Edit</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="btn danger" href="{{ path('problematic_tutorial_tutorials_delete', {'id': tutorial.id}) }}">Trash</a>
{% endif %}
    </p>
</div>
<p>{{ tutorial.content|markdown }}</p>
{% endblock %}